/* Navigation Bar*/ 
.navbar {
     display: flex;
     justify-content: center;
     background-color: black;
     align-items: center;
     padding: 1em;
     overflow: hidden;
     position: fixed;
     bottom: 10;
     top: 0;
     width: 100%;
     border: none;
     border-radius: 1px;
     cursor: pointer;
}

/* Navigation links*/   
.navbar a {
	 float: left;					
     display: block;
     color: white;   
     text-align: center;    
     padding: 10px 10px;   
     text-decoration: none;   
     font-size: 20px;   
     border-radius: 5px;
     cursor: pointer;
}

.navbar a:hover{
	background-color: white;
	color: grey;
	border-radius: 200px;
}

/* Heading Styling */
h1{
	text-align: center;
    margin-top: 10px;
    font-size: 3rem;
	background-color:flex;
    color: black;
}

h2{
	color:black;
}
h3{
	color:black;
}
	
/* Social links Styling */
.social-links a {
      margin: 0 15px;
      text-decoration: none;
      font-size: 30px;
      color: #333;
      transition: 0.3s;
    }
    .social-links a:hover {
      color: #007bff;
    }
    .slogan {
      display: block;
      font-size: 14px;
      margin-top: 5px;
    }
}
/* Button Styling */
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #4169E1;
}

/* Footer Styles */
footer {
	text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
	background-color:flex;
    color: black;
}

select {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
}
